
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Oswald&display=swap');

/*

font-family: 'Oswald', sans-serif;
font-family: 'Encode Sans Condensed', sans-serif;

*/

/*presets*/

*{
    
 font-family: 'Encode Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.container{
    text-align: center;
    max-width: 800px;
    margin: 0px auto;
    
}

.container:after{
    content:' ';
    display: block;
    clear: both;

}


@keyframes btnhover{
    0%{
      background: #c03;  
        border-radius: 0px;
    }
     50%{  background: #133;  
        border-radius: 20px;}
    
    
    100%{  background: #333;  
        border-radius: 10px;}
    
}


.btn{
    display: inline-block;
    background: #c03;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.btn:hover{
    animation:btnhover 4s linear infinite;  /* instead of linear, i can use ease in ease out*/
    background: #333;
    border-radius: 10px;
}


/*Nav*/


header{
    text-align: center;
}


header img{
    max-width: 200px;
    padding: 10px;    
}

nav ul{
    list-style: none;
    
}


nav li{
    display: inline-block;
}

nav a{
    color: #c03;
    text-decoration: none;
    border: 1px solid #c03;
    display: block;
    padding 2px 10px; 
}

#hero{
    background: url(../enixassets-master/img/ironman.jpg);
    background-size: cover;  /*contain*/
    background-position: center center;
}


.overlay{
  background: linear-gradient(rgba(204,0,51,0.7),rgba(204,0,51,0.75)); /*   use coolors.co*/
}

#herocontent{
    text-align: center;
    padding:40px;
    
}

#herocontent p{
    margin:20px auto;
    max-width: 800px;
    
}

#herocontent h1, #herocontent p{
    color: #fff;
}


/*about*/
#about{
    padding: 40px;
}

/*featured*/
.product{
    width: 33.33333%;
    float: left;
}

#p1{
    background: url(../enixassets-master/img/spidey.jpg);
    background-size: cover;
    background-position: center center;
}
#p2{
    background: url(../enixassets-master/img/thor.jpg);
    background-size: cover;
    background-position: center center;
}
#p3{
    background: url(../enixassets-master/img/wolvie.jpg);
    background-size: cover;
    background-position: center center;
}


@keyframes fadein{
    0%{opacity: 0;}

100%{opacity: 100;
    
    }
}

.product{
    height: 200px;
}

.productdetail{
    height: 100%; 
    display: none;

    
}


.product:hover .productdetail{
        animation: fadein .5s linear 1;
        display: flex;
        align-items: center;
        justify-content: center;
}



#cta{
    padding: 40px;
    background:#333;
}

#cta h2, #cta p{
    color: #fff;
}